<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication_Edi_Web_2._0</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication_Edi_Web_2._0.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom box-shadow mb-3">
            <!-- <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color: #c0d9ec;"> -->
            <div class="container-fluid">
             <a class="navbar-brand" href="/Home/Entrada">EDIB@NK</a>
             <!--  <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebApplication_Edi_Web_2._0</a>   -->  
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="nav nav-navbar flex-grow-1">
                        @if (Context.User.IsInRole("User"))
                        {
                            <li class="nav-item nav-tabs">
                                <a class="nav-item nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Entrada">Entrada</a>
                            <!-- <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a> -->
                        </li>
                           <li class="nav-item nav-tabs">
                                <a class="nav-item nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Salida">Salida</a>
                            </li>
                        }

                        @if (Context.User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="ManageUsers" asp-action="index">Mantenimiento de Usuarios</a>
                            </li>
                        }  

                    </ul>
                      <partial name="_Loginpartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @{
        <script>
            (function() {

                const idleDurationSecs = 122;    // X number of seconds
                const redirectUrl = '/Home/_SessionExpireNotification';  // Redirect idle users to this URL
                let IdleTimeout; // variable to hold the timeout, do not modify

                const resetIdleTimeout = function() {

                    // Set a new idle timeout to load the redirectUrl after idleDurationSecs
                    IdleTimeout = setTimeout(() => location.href = redirectUrl, idleDurationSecs * 1000);
                };

                // Init on page load
                resetIdleTimeout();

                // Reset the idle timeout on any of the events listed below
                ['click', 'touchstart', 'mousemove'].forEach(evt =>
                    document.addEventListener(evt, resetIdleTimeout, false)
                );

             })();
        </script>
    }


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - WebApplication_EDIB@NK - <a class="link-dark" asp-area="" asp-controller="Home" asp-action="Contact">Contacto</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>