@using Microsoft.AspNetCore.Identity
@using WebApplication_Edi_Web_2._0.Models.Users_EdiWeb


@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<a id="demo"></a>
<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
    {
        <script>
            setInterval(myTimer, 1000);

            function myTimer() {
                const d = new Date();
                document.getElementById("demo").innerHTML = d.toLocaleTimeString();
            }
        </script>

    <li class="nav-item">
            <a id="manage" class="nav-link text-dark" title="Manage">Hello @UserManager.GetUserName(User)!</a>   
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
        </form>
    </li>
}
else
{
   
}
</ul>