@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Restablecimiento de contraseña confirmada";
}

<h1>@ViewData["Title"]</h1>
<p>
    Tu contraseña ha sido restablecida. Porfavor <a asp-page="./Login">Haz click aquí para iniciar sesión</a>.
</p>
