@{
    ViewData["Title"] = "Finalizó la sesión";
}
<h1>@ViewData["La sesión ha caducado"]</h1>

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notificacion</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">


</head>
<body>

    <div class="text-center">
        <h1 class="">
            La sesión ha caducado <i class="bi bi-exclamation-octagon-fill" style="font-size: 7rem; color: dark;"></i>
        </h1>
        <h5>
            <p style="text-align:center">Elija
        <dt><a href="/Home" style="color: black"> EDIB@NK</a></dt> Para volver a <small class="text-body-secondary">
            iniciar sesión </small> y continuar</a>.</p>
        </h5>
        
    </div>

</body>
</html>