@using Microsoft.AspNetCore.Identity
@using EDIBANK.Models.Users_EdiWeb


@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<a id="myId"></a>
<a id="demo"></a>
<br />
<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
    {
        <script>
            setInterval(myTimer, 1000);

            function myTimer() {
                const d = new Date();
                document.getElementById("demo").innerHTML = d.toLocaleTimeString();
            }
        </script>

        <script>

            var date = new Date();
            var dd = date.getDate();
            var mm = date.getMonth() + 1;
            var yyyy = date.getFullYear();
            var newDate = new Date().toLocaleDateString('es-us', { weekday:"long", year:"numeric", month:"short", day:"numeric"})
            var time = " |  "
            var formata = "&#8232";
            var p = document.getElementById("myId");
            p.innerHTML = newDate + "&#32" + time + formata;
        </script>
    
    <li class="nav-item active">
            <a id="manage" class="nav-link btn btn-outline-secondary text-dark border-0" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Saludos @UserManager.GetUserName(User)!</a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-outline-secondary text-dark border-0">Salir</button>
        </form>
    </li>
}
else
{
   
}
</ul>