@{
    ViewData["Title"] = "Entrada";
}
<h1>@ViewData["Monitor Para Los Documentos Edi De Entrada"]</h1>

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrada</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">


</head>
<body>

    <div class="text-center">
        <h1 class="display-4">Bienvenido a entrada</h1>
        <p>Monitor para los archivos edi para entrada <a href="https://learn.microsoft.com/aspnet/core">building Web apps with AvilasServer</a>.</p>
    </div>

</body>
</html>