@page
@model LoginWith2faModel
@{
    ViewData["Title"] = "Autenticación 2 Factores";
}

<h1>@ViewData["Title"]</h1>
<hr />
<p>Su inicio de sesión está protegido con una aplicación de autenticación. Ingrese su código de autenticación a continuación.</p>
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-route-returnUrl="@Model.ReturnUrl">
            <input asp-for="RememberMe" type="hidden" />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.TwoFactorCode" class="form-control" autocomplete="off" />
                <label asp-for="Input.TwoFactorCode" class="form-label"></label>
                <span asp-validation-for="Input.TwoFactorCode" class="text-danger"></span>
            </div>
            <div>
                <button type="submit" class="w-100 btn btn-lg btn-secondary text-black border border-light">Ingresar</button>
               
            </div>
            <br>
            <div>
                <button type="submit" class="w-100 btn btn-lg btn-secondary text-black border border-light" onclick="document.location.reload();">Reenviar el código de verificación</button>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}